<!DOCTYPE HTML>
<html>
	<head>
		<title>Syndicate</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="{{ url_for('home') }}">Syndicate</a></h1>
				<a href="#nav">Menu</a>
			</header>

			<!-- Nav -->
				<nav id="nav">
					<ul class="links">
						{% if current_user.is_authenticated %}
							<li><a href="{{ url_for('home') }}">Home</a></li>
							<li><a href="{{ url_for('account') }}">My Account</a></li>
							<li><a href="{{ url_for('model_page') }}">Predict Crimes</a></li>
							<li><a href="{{ url_for('logout') }}">Logout</a></li>

						{% else %}
							<li><a href="{{ url_for('home') }}">Home</a></li>
							<li><a href="{{ url_for('login') }}">Login</a></li>
							<li><a href="{{ url_for('signup') }}">Sign Up</a></li>
							<li><a href="{{ url_for('generic') }}">Generic</a></li>
							<li><a href="{{ url_for('model_page') }}">Predict Crimes</a></li>
						{% endif %}
					</ul>
				</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Mapping of Values for Predictions</h2>
						<p></p>
					</header>

					<!-- <a href="#" class="image fit"><img src="static/images/toronto-trinity.jpg" alt="" /></a> -->

					     <p> The mapping of premise to integer is as follows: </p>
					     <p>    - Outside = 1</p>
					     <p>    - House = 2</p>
					     <p>    - Commercial = 3</p>
					     <p>    - Apartment = 4</p>
					     <p>    - Other = 5</p>
					     <p> The mapping of Offence is as follows: </p>
					        <p> Assault                           1  </p>
					        <p> B&E                               2  </p>
					        <p> Theft Of Motor Vehicle            3  </p>
					        <p> Assault With Weapon               4  </p>
					        <p> Robbery - Mugging                  5  </p>
					        <p> B&E W'Intent                       6  </p>
					        <p> Assault Bodily Harm                7  </p>
					        <p> Theft Over                         8  </p>
					        <p> Robbery - Other                    9  </p>
					        <p> Robbery With Weapon                10  </p>
					        <p> Assault Peace Officer              11  </p>
					        <p> Assault - Resist/ Prevent Seiz     12  </p>
					        <p> Robbery - Business                 13  </p>
					        <p> Robbery - Swarming                 14  </p>
					        <p> Aggravated Assault                 15  </p>
					        <p> Theft From Motor Vehicle Over       16  </p>
					        <p> Unlawfully In Dwelling-House        17  </p>
					        <p> Discharge Firearm With Intent       18  </p>
					        <p> Robbery - Purse Snatch              19  </p>
					        <p> Robbery - Home Invasion             20  </p>
					        <p> Discharge Firearm - Recklessly      21  </p>
					        <p> Theft From Mail / Bag / Key         22  </p>
					        <p> Pointing A Firearm                  23  </p>
					        <p> Robbery - Financial Institute       24  </p>
					        <p> Theft Over - Shoplifting            25  </p>
					        <p> Assault Peace Officer Wpn/Cbh       26  </p>
					        <p> Administering Noxious Thing         27  </p>
					        <p> Assault - Force/Thrt/Impede         28  </p>
					        <p> Robbery - Vehicle Jacking           29  </p>
					        <p> Robbery - Taxi                      30  </p>
					        <p> Robbery - Delivery Person           31  </p>
					        <p> Use Firearm / Immit Commit Off       32  </p>
					        <p> Theft Over - Bicycle                 33  </p>
					        <p> Crim Negligence Bodily Harm          34  </p>
					        <p> Robbery - Atm                        35  </p>
					        <p> Disarming Peace/Public Officer       36  </p>
					        <p> B&E Out                              37  </p>
					        <p> Theft Over - Distraction             38  </p>
					        <p> Robbery - Armoured Car               39  </p>
					        <p> Air Gun Or Pistol: Bodily Harm       40  </p>
					        <p> Aggravated Aslt Peace Officer        41  </p>
				</div>
			</section>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<ul class="icons">
							<li><a href="https://github.com/vatsal220" class="icon fa-github">
								<span class="label">GitHub</span>
							</a></li>
							<li><a href="https://www.vatsalp.com/" class="icon fa-male">
								<span class="label">Personal</span>
							</a></li>
							<li><a href="https://data.torontopolice.on.ca/" class="icon fa-database">
								<span class="label">Data</span>
							</a></li>
							<li><a href="https://www.linkedin.com/in/vatsal-p-a57978149/" class="icon fa-linkedin">
								<span class="label">LinkedIn</span>
							</a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Vatsal</li>
							<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
							<!-- <li>Design: <a href="http://templated.co">TEMPLATED</a>.</li> -->
						</ul>
					</div>
				</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>
