<!DOCTYPE HTML>

<html>
	<head>
		<title>Syndicate</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="{{ url_for('home') }}">Syndicate</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="{{ url_for('home') }}">Home</a></li>
					<li><a href="{{ url_for('account') }}">My Account</a></li>
					<li><a href="{{ url_for('generic') }}">Generic</a></li>
					<li><a href="{{ url_for('logout') }}">Log Out</a></li>
				</ul>
			</nav>


      <!-- Three -->
				<section id="three" class="wrapper style3 special">
					<div class="inner">
						<header class="major narrow	">
							<h2>Predict Crime</h2>
							<p>Given specific information regarding the type of crime and the time of day we can to a certain extent, predict the location of the crime</p>
						</header>
						<ul class="action">
							<form action="{{ url_for('predict_model')}}"method="post">
							<input type="number" name="feat_MCI" placeholder="MCI" required="required" min = "1" max = "5" width = "50"/>
							<input type="number" name="occurrencehour" placeholder="Hour" required="required" min = "1" max = "24" size = "50"/>
							<p></p>
							<input type="number" name="occurrenceyear" placeholder="Year" required="required" min = "2012" max = "2020" size = "50"/>
							<input type="number" name="feat_occurrencemonth" placeholder="Month" required="required" min = "1" max = "12" size = "50"/>
							<p></p>
							<input type="number" name="feat_occurrencedayofweek" placeholder="Week" required="required" min = "1" max = "7" size = "50"/>
							<input type="number" name="feat_premisetype" placeholder="Premise Type" required="required" min = "1" max = "5" size = "50"/>
							<p></p>
							<input type="number" name="feat_offence" placeholder="Offence" required="required" min = "1" max = "41" size = "50"/>

							<p></p>
							<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
							</form>

						 <h2> {{ prediction_text }} </h2>
						</ul>
					</div>
				</section>

        <!-- Footer -->
    			<footer id="footer">
    				<div class="inner">
    					<ul class="icons">
    						<li><a href="https://github.com/vatsal220" class="icon fa-github">
    							<span class="label">GitHub</span>
    						</a></li>
    						<li><a href="https://www.vatsalp.com/" class="icon fa-male">
    							<span class="label">Personal</span>
    						</a></li>
    						<li><a href="https://data.torontopolice.on.ca/" class="icon fa-database">
    							<span class="label">Data</span>
    						</a></li>
    						<li><a href="https://www.linkedin.com/in/vatsal-p-a57978149/" class="icon fa-linkedin">
    							<span class="label">LinkedIn</span>
    						</a></li>
    					</ul>
    					<ul class="copyright">
    						<li>&copy; Vatsal</li>
    						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
    						<!-- <li>Design: <a href="http://templated.co">TEMPLATED</a>.</li> -->
    					</ul>
    				</div>
    			</footer>

    		<!-- Scripts -->
    		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
    		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
    		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

    	</body>
    </html>
