<!DOCTYPE HTML>
{% import "bootstrap/wtf.html" as wtf %}
<html>
	<head>
		<title>Syndicate</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="{{ url_for('home') }}">Syndicate</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="{{ url_for('home') }}">Home</a></li>
					<li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
					<li><a href="{{ url_for('learn_more') }}">Learn More</a></li>
					<li><a href="{{ url_for('model_page') }}">Predict Crimes</a></li>
				</ul>
			</nav>

      <!-- Three -->
        <section id="three" class="wrapper style2 special">
          <div class="inner">
            <header class="major narrow	">
              <h2>Reset Password</h2>
            </header>
            <ul class="action">
              <form action="/login/"method="POST">
                <h3> Email : </h3>
                {{ form.email (class="form-control-label") }}
    						<p></p>
    						{{ form.submit (class = 'button big alt') }}

              </form>

            </ul>
          </div>
        </section>



    <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <ul class="icons">
            <li><a href="https://github.com/vatsal220" class="icon fa-github">
              <span class="label">GitHub</span>
            </a></li>
            <li><a href="https://www.vatsalp.com/" class="icon fa-male">
              <span class="label">Personal</span>
            </a></li>
            <li><a href="https://data.torontopolice.on.ca/" class="icon fa-database">
              <span class="label">Data</span>
            </a></li>
            <li><a href="https://www.linkedin.com/in/vatsal-p-a57978149/" class="icon fa-linkedin">
              <span class="label">LinkedIn</span>
            </a></li>
          </ul>
          <ul class="copyright">
            <li>&copy; Vatsal</li>
            <li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
            <!-- <li>Design: <a href="http://templated.co">TEMPLATED</a>.</li> -->
          </ul>
        </div>
      </footer>


  <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
